mixin listado(documentos, tipo)
  .box
    .box-body
      table#listado.table.table-striped.table-bordered(data-page-length='5')
        thead
          tr
            th Núm.
            th(width="100px") Fecha de emisión
            th Asunto
            th Destinatario(s)
            th(width="100px") Acciones
        tbody
          //llena la tabla con los datos
          each doc in documentos
            tr
              td
                b=doc.numero
                br
                span.text-muted=doc.documento
              td
                span=doc.fecha
                //en los turnos no se muestra el tipo de emision del documento
                if tipo!="turnos"
                  br
                  span.text-muted=doc.emision            
              td=doc.asunto
              td
                //muestra cada destinatario que este registrado en el documento
                each d in doc.destinatarios
                  if d.atn
                    b AT'N:
                    br
                  span=d.nombre
                  if d.cargo
                    br
                    span.text-muted=d.cargo
                  br
              td
                .btn-group
                  a.btn.btn-primary
                    i.fa.fa-file-text
                  a.btn.btn-warning
                    i.fa.fa-pencil
                  a.btn.btn-danger
                    i.fa.fa-times
